body{
	background-color:#EEC591;
	font-family:"微软雅黑";
	padding:2px 3%;
}
/*
 * head-global
 * */
.head-global>h1{
	height:100%;
	width:100%;
}

/*animation:float when mouse over*/
.head-global:hover > .levitation-hidden{
		opacity:1;
		filter:Alpha(opacity=1);

}
.levitation-hidden{
	opacity:0;
	filter:Alpha(opacity=100);
	transition:opacity 1s;

}
/*
 * head-global
 * */

.right{
	float:right;
}
/*
 * index-body
 * */
.index-body{
	display:none;
	//background-color:#FFFFFF;
	padding:10px 3%;
}
.registe-form{
	padding:1px 3%;
//	width:40%;
	border-right-style:inset;
	float:left;
//	background-image:url(images/姓氏.jpeg);
}
.login-form{
	padding:1px 3%;
//	width:40%;
	border-right-style:inset;
	float:left;
}
.guest-form{
	padding:1px 3%;
//	border-right-style:inset;
	float:left;
}


/*
 * index-body
 * */

